# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text eol=lf
*.pyi text eol=lf

# Explicitly declare text files
*.md text
*.txt text
*.json text
*.yaml text
*.yml text
*.toml text
*.ini text
*.cfg text
*.sh text

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.woff binary
*.woff2 binary
